<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Local Json
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
      <ion-item>
          <ion-label> ID</ion-label>
          <ion-label> Name</ion-label>
          <ion-label> Department</ion-label>
        </ion-item>
      <ion-item *ngFor="let item of results">
          <ion-label> {{item.empId}}</ion-label>
          <ion-label> {{item.empName}}</ion-label>
          <ion-label> {{item.deptName}}</ion-label>
        </ion-item>
  </ion-list>
  </ion-content>